/**********************************************
Global styles
**********************************************/
/* ----------Elements---------- */
h1,
h2 {
	font-family: var(--ff-header);
	font-weight: var(--fw-600);
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
}

h2 {
	font-size: 2rem;
	line-height: 1.1;
}

h1 span,
h2 span {
	display: block;
}

h3 {
	font-family: var(--ff-subHeader);
	font-weight: var(--fw-500);
	font-size: 1.5rem;
	line-height: 1;
}

a {
	text-decoration: none;
}

strong {
	font-weight: var(--fw-600);
}

.container h2,
section h2 {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

section h2 {
	margin-top: 4rem;
}
