/**********************************************
Reset CSS
**********************************************/
/* ----------Resets---------- */
/* Box sizing rules -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	min-height: 100svh; /* Suggested by Kevin Powell - https://www.youtube.com/@KevinPowell */
	background-color: var(--clr-grey-light);
	font-family: var(--ff-def);
	color: var(--clr-white);
	accent-color: var(
		--clr-pink
	); /* Suggested by bryntum - https://bryntum.com/blog/3-ways-to-style-radio-buttons-with-modern-css/ */
	display: grid;
	grid-template-rows: auto 1fr auto;
}

img,
picture {
	/* Suggested by Kevin Powell - https://www.youtube.com/@KevinPowell */
	display: block;
	max-width: 100%;
}

/* Inherit fonts for inputs and buttons -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
input,
button,
textarea,
select {
	font: inherit;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

nav ul li {
	list-style: none;
}
