/**********************************************
Root variables
**********************************************/
:root {
	--clr-white-actual: #fff;
	--clr-white: #fef7f2;
	--clr-white-transparent: hsla(23, 87%, 97%, 0.8);
	--clr-black: #0b1726;
	--clr-black-actual: #000;

	--clr-pink: #a6376a;
	--clr-blue: #25598c;
	--clr-blue-dark: #06162e;
	--clr-blue-accent: #57c6c9;
	--clr-green: #acc96d;
	--clr-green-dark: #1c593b;
	--clr-orange: #f2a72a;

	--clr-grey-lighter: #626770;
	--clr-grey-light: #3b3e43;
	--clr-grey-neutral: #2c2e31;
	--clr-grey-dark: #1d1d1d;
	--clr-transparent: hsl(120deg 75% 25% / 0);

	--ff-def: "Zilla Slab", serif;
	--ff-header: "Barriecito", cursive;
	--ff-subHeader: "Yanone Kaffeesatz", sans-serif;

	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-700: 700;
}
