/**********************************************
Root variables
**********************************************/
:root {
	--clr-white-actual: #fff;
	--clr-white: #fef7f2;
	--clr-black: #0b1726;

	--clr-pink: #a6376a;
	--clr-blue: #25598c;
	--clr-blue-accent: #57c6c9;
	--clr-green: #acc96d;
	--clr-green-dark: #3a8c59;
	--clr-orange: #f2a72a;

	--clr-grey-lighter: #626770;
	--clr-grey-light: #3b3e43;
	--clr-grey-neutral: #2c2e31;
	--clr-grey-dark: ##1d1d1d;
	--clr-transparent: hsl(120deg 75% 25% / 0);

	--ff-def: "Zilla Slab", serif;
	--ff-header: "Barriecito", cursive;
	--ff-subHeader: "Yanone Kaffeesatz", sans-serif;

	--fw-200: 200;
	--fw-300: 300;
	--fw-400: 400;
	--fw-500: 500;
	--fw-600: 600;
	--fw-600: 700;
}

/**********************************************
Global styles
**********************************************/
/* ----------Resets---------- */
/* Box sizing rules -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
html:focus-within {
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	min-height: 100svh; /* Suggested by Kevin Powell - https://www.youtube.com/@KevinPowell */
	background-color: var(--clr-grey-light);
	font-family: var(--ff-def);
	color: var(--clr-white);
	accent-color: var(
		--clr-pink
	); /* Suggested by bryntum - https://bryntum.com/blog/3-ways-to-style-radio-buttons-with-modern-css/ */
	display: grid;
	grid-template-rows: auto 1fr auto;
}

img,
picture {
	/* Suggested by Kevin Powell - https://www.youtube.com/@KevinPowell */
	display: block;
	max-width: 100%;
}

/* Inherit fonts for inputs and buttons -- Suggested by Andy Bell - https://andy-bell.co.uk/a-modern-css-reset/ */
input,
button,
textarea,
select {
	font: inherit;
}

ul {
	margin-block-start: 0;
	margin-block-end: 0;
	padding-inline-start: 0;
}

nav ul li {
	list-style: none;
}

/* ----------Sections---------- */

header,
main {
	width: 100%;
	margin-inline: auto;
}

header {
	position: relative;
	background: linear-gradient(var(--clr-blue-accent), #3883a4);
	padding: 0.5rem 0;
	align-items: center;
}

main {
	background-color: var(--clr-grey-neutral);
}

/* ----------Elements---------- */

h1,
h2 {
	font-family: var(--ff-header);
	font-weight: var(--fw-600);
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
}

h2 {
	font-size: 2.5rem;
	line-height: 1.1;
}

h3 {
	font-family: var(--ff-subHeader);
	font-weight: var(--fw-600);
	font-size: 2rem;
	line-height: 1;
}

a {
	text-decoration: none;
}

.nav-list {
	display: flex;
	flex-wrap: nowrap;
}

.nav-list li a {
	font-family: var(--ff-subHeader);
	color: var(--clr-black);
	font-size: 1.5rem;
}

/* ----------Utility---------- */
.grid {
	display: grid;
}

.flex {
	display: flex;
}

.flex-no-wrap {
	flex-wrap: nowrap;
}

.flex-row {
	flex-direction: row;
}

.flex-space-between {
	justify-content: space-between;
}

.relative {
	position: relative;
}

.sticky {
	position: sticky;
}

.absolute-top-right {
	position: absolute;
	top: 0;
	right: 0;
}

/* ----------Header---------- */

nav,
#nav-toggle {
	display: none;
}

#nav-toggle:checked ~ nav {
	display: block;
}

.nav-toggle-label {
	position: absolute;
	top: 2.5rem;
	right: 2rem;
	cursor: pointer;
	font-size: 1.5rem;
}

.opening-hours {
	font-family: var(--ff-subHeader);
	background-color: var(--clr-green);
	color: var(--clr-black);
	padding: 0.5rem 0.25rem 0.25rem 0.5rem;
	border-radius: 0 0 0 5px;
}

.opening-hours span {
	color: var(--clr-pink);
	font-weight: var(--fw-600);
}

/* Divider generated by: https://www.shapedivider.app/ (code modified to suit design) */
.divider-top {
	margin-top: -1px;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.divider-top svg {
	width: calc(100% + 1.3px);
	height: 4rem;
	transform: rotateY(180deg);
}

/**********************************************
Media queries
**********************************************/
/* ----------------------------------------Tablet + Desktop---------------------------------------- */
@media (min-width: 767px) {
	/* ----------Sections---------- */
	main,
	header {
		max-width: 1170px;
	}

	header {
		grid-template-columns: 1fr auto 1fr;
	}

	nav {
		position: static;
		display: inline-block;
	}

	.container {
		padding-inline: 2rem;
	}

	/* ----------Header---------- */
	.logo-header {
		padding-left: 2rem;
	}

	.nav-toggle-label {
		display: none;
	}

	.nav-list li a {
		color: var(--clr-white);
	}

	.nav-list {
		flex-direction: row;
	}

	.nav-list li:not(:last-child) {
		margin-right: 1rem;
	}

	.nav-list li a:is(:hover, :active, :focus) {
		text-decoration: underline;
	}
}

/* ----------------------------------------Mobile---------------------------------------- */
@media (max-width: 766px) {
	/* ----------Sections---------- */
	header {
		grid-template-columns: max-content auto auto;
	}

	.container {
		padding-inline: 0.5rem;
	}

	/* ----------Header---------- */
	nav {
		position: absolute;
		top: 5.2rem;
		width: 100%;
		padding-top: 7rem;
		padding-bottom: 3rem;
		text-align: center;
		background-color: var(--clr-white-actual);
		border-radius: 0 0 15px 15px;
		box-shadow: 0 1rem 1rem var(--clr-grey-neutral);
	}

	.nav-list {
		flex-direction: column;
	}

	.nav-list li:not(:last-child) {
		margin-bottom: 0.5rem;
	}

	.hover-nav {
		display: block;
		margin: 0 auto;
		padding-block: 0.25rem;
		width: 12rem;
		border-radius: 0.25rem;
	}
	.hover-nav:is(:hover, :active, :focus) {
		color: var(--clr-white);
	}
	.hover-blue:is(:hover, :active, :focus) {
		background-color: var(--clr-blue-accent);
	}
	.hover-pink:is(:hover, :active, :focus) {
		background-color: var(--clr-pink);
	}
	.hover-green:is(:hover, :active, :focus) {
		background-color: var(--clr-green-dark);
	}
	.hover-black:is(:hover, :active, :focus) {
		background-color: var(--clr-grey-light);
	}
}
